.breadcrumb {
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 15px;
  line-height: 20px;
  color: #9DA2A8;
  white-space: break-spaces;

  @include tablet {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  &__link {
    transition: color $transition-default;

    &:hover {
      color: $color-primary;
    }
  }

  &__separator {
    margin: 0 6px 0 8px;
  }

  &__current {
    font-weight: 500;
    color: $color-primary;
  }
}
