.breadcrumb {
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 15px;
  line-height: 20px;
  color: #9DA2A8;
  white-space: nowrap;

  @include tablet {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      &::after {
        display: inline-block;
        margin: 0 8px 0 6px;
        content: "/";
      }
    }

    &:last-child {
      white-space: break-spaces;
    }
  }

  &__link {
    transition: color $transition-default;

    &:hover {
      color: $color-primary;
    }
  }

  &__current {
    font-weight: 500;
    color: $color-primary;
  }
}
