.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid;
  padding: 13px 24px;
  border-radius: 12px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transition: border-color $transition-default, background-color $transition-default, color $transition-default, box-shadow $transition-default;

  &--red {
    border-color: transparent;
    background-color: $color-primary;
    color: #fff;

    &:hover {
      background-color: $color-primary-dark;
    }
  }

  &--round-corner {
    border-radius: 40px;
  }

  &--outline-red {
    border: 1px solid $color-primary;
    background-color: $color-bg;
    color: $color-text;

    &:hover {
      background-color: $color-primary;
      color: $color-bg;
    }
  }

  &--outline-gray {
    border: 1px solid #EAEAEF;
    background-color: $color-bg;
    color: $color-text;

    &:hover {
      background-color: $color-primary;
      border-color: $color-primary;
      color: $color-bg;
    }
  }

  &--outline-white {
    border-color: rgba(#fff, .5);
    color: #fff;

    &:hover {
      border-color: #fff;
      background-color: #fff;
      color: $color-primary;
    }
  }

  &--icon-only {
    padding: 13px;
    aspect-ratio: 1;
  }

  &--with-icon {
    padding-left: 16px;
    padding-right: 16px;
  }

  &--xl {
    padding: 18px 40px;
    font-weight: 600;
  }

  &:disabled {
    filter: grayscale(1);
    cursor: not-allowed;
  }

  &__icon {
    display: block;
    width: 20px;
    height: 20px;

    &--color-red {
      color: $color-primary;

      .button:hover & {
        color: inherit;
      }
    }
  }
}