.button {
  position: relative;
  z-index: 0;
  display: inline-block;
  border: 1px solid;
  padding: px2rem(13) px2rem(24);
  font-size: px2rem(16);
  line-height: px2rem(26);
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transition: border-color $transition-default, background-color $transition-default, color $transition-default, box-shadow $transition-default;

  @include desktop {
    padding: px2rem(17) px2rem(24);
    font-size: px2rem(20);
    line-height: px2rem(24);
  }

  &--red {
    border-color: transparent;
    background-image: $gradient-red;
    color: $color-text;

    &:hover {
      border-color: $color-red;
      box-shadow: 0 0 10px 10px rgba(#FF1A5F, .3);
    }
  }

  &--outline-white {
    border: 1px solid rgba($color-white, .4);
    background-color: transparent;
    color: $color-white;

    &:hover {
      background-color: $color-white;
      border-color: $color-white;
      color: $color-black;
      box-shadow: 0 0 10px 10px rgba($color-white, .3);
    }
  }

  &--xl {
    padding: px2rem(11) px2rem(24);
    font-size: px2rem(14);
    font-weight: 500;
  }

  &--sm {
    padding: px2rem(6) px2rem(18);
    font-size: px2rem(13);
    font-weight: 500;

    @include desktop {
      padding: px2rem(11) px2rem(24);
      font-size: px2rem(15);
    }
  }

  &:disabled {
    filter: grayscale(1);
    cursor: not-allowed;
  }
}