.checkbox {
  position: relative;
  display: block;

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  &__text {
    display: inline-block;
    padding-left: 24px;
    font-size: 14px;
    line-height: 16px;
    user-select: none;
    color: $color-text;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 16px;
      height: 16px;
      border: 1px solid #EDEEF1;
      border-radius: 4px;
      background-position: center;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      cursor: pointer;
      content: "";
      transition: border-color $transition-default, background-color $transition-default;
    }

    &:hover {
      &::before {
        border-color: $color-primary;
      }
    }

    .checkbox__input:checked + & {
      &::before {
        border-color: transparent !important;
        background-color: $color-primary;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' class='bi bi-check'%3E%3Cpath d='M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z'/%3E%3C/svg%3E");
      }
    }
  }

  &__link {
    color: currentColor;
    text-decoration: underline;
    transition: color $transition-default;

    &:hover {
      text-decoration: none;
      color: $color-primary;
    }
  }
}