.checkbox {
  position: relative;
  display: block;

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  &__text {
    display: inline-block;
    padding-left: px2rem(32);
    font-size: px2rem(13);
    line-height: 1.24;
    font-weight: 300;
    color: #848484;

    &::before {
      position: absolute;
      top: px2rem(3);
      left: 0;
      width: 20px;
      height: 20px;
      border: px2rem(1) solid #D9DDE9;
      background-position: center;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      content: "";
    }

    &:hover {
      &::before {
        background-color: #ABB1C3;
      }
    }

    .checkbox__input:checked + & {
      &::before {
        border-color: transparent !important;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='none'%3E%3Cg clip-path='url(%23clip0_155_428)'%3E%3Crect x='0.5' y='0.5' width='19' height='19' rx='3.5' fill='white' stroke='%23D9DDE9'/%3E%3Crect width='20' height='20' fill='url(%23paint0_linear_155_428)'/%3E%3Cpath d='M14.4131 5.49469L16 7.08167L8.57656 14.5051L4 9.92866L5.58693 8.34168L8.57656 11.3312L14.4131 5.49469Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_155_428' x1='0' y1='10' x2='20' y2='10' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FC1A2F'/%3E%3Cstop offset='1' stop-color='%23FF1A5F'/%3E%3C/linearGradient%3E%3CclipPath id='clip0_155_428'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      }
    }
  }

  &__link {
    color: #E1E1E1;
    transition: color $transition-default;

    &:hover {
      color: $color-red;
    }
  }
}