.city-search {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: color-mix(in srgb, #{$color-text} 5%, transparent);
  backdrop-filter: blur(10px);
  visibility: hidden;
  opacity: 0;
  transition: opacity $transition-default, transform $transition-default, visibility 0.3s ease;

  @include desktop {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    display: inline-block;
    background-color: transparent;
    backdrop-filter: unset;
  }

  &--open {
    visibility: visible;
    opacity: 1;
  }

  &__window {
    width: 100%;
    max-width: 460px;
    margin: auto;
    padding: 26px 36px 36px;
    background-color: $color-bg;
    border-radius: 10px;
    border: 1px solid color-mix(in srgb, #{$color-text} 20%, transparent);

    @include desktop {
      width: 460px;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 25px;
  }

  &__title {
    font-size: 30px;
    height: 40px;
    font-weight: 500;
  }

  &__close {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: color-mix(in srgb, #{$color-text} 5%, transparent);
    border: none;
    border-radius: 50%;
    transition: background-color $transition-default, color $transition-default;

    &:hover {
      background-color: $color-primary;
      color: $color-bg;
    }
  }

  &__close-icon {
    display: block;
    width: 25px;
    height: 25px;
  }

  &__input-box {
    margin-bottom: 25px;
  }

  &__list {
    display: block;
    margin-bottom: 15px;
    max-height: 300px;
    overflow-y: auto;
  }

  &__list-el {
    padding: 10px 16px;
    border-radius: 8px;
    opacity: .5;
    cursor: pointer;

    &:hover {
      background-color: color-mix(in srgb, #{$color-text} 5%, transparent);;
    }
  }

  &__submit-btn {
    display: block;
    width: 100%;
    max-width: 220px;
    margin: 0 auto;
  }
}