.footer {
  position: relative;
  padding-top: px2rem(60);
  overflow: hidden;

  @include tablet {
    margin-top: px2rem(90);
    padding-top: px2rem(100);
  }

  &::after {
    display: block;
    width: 100%;
    aspect-ratio: 3.5;
    background-image: url("../images/common/footer-bg.svg");
    background-size: auto 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    content: "";
  }

  @include tablet {
    padding-bottom: px2rem(57);

    &::after {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%) translateX(-4%);
      width: 109%;
      height: 100%;
      aspect-ratio: unset;
    }
  }

  &__container {
    position: relative;
    z-index: 1;

    text-align: center;

    @include tablet {
      text-align: left;
    }
  }

  &__grid {
    display: flex;
    flex-direction: column;
    gap: px2rem(36);
    margin-bottom: px2rem(36);

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      gap: px2rem(24);
      margin-bottom: px2rem(164);
    }
  }

  &__text-col {
  }

  &__title {
    margin-bottom: px2rem(16);
  }

  &__text {
    margin-bottom: px2rem(40);
    font-size: px2rem(20);
    line-height: 1.4;

    @include tablet {
      margin-bottom: px2rem(30);
      font-size: px2rem(16);
    }
  }

  &__action-btn {
    width: 100%;

    @include tablet {
      max-width: px2rem(264);
    }
  }

  &__contacts-col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__phone-link {
    margin-bottom: 10px;
    white-space: nowrap;
    transition: color $transition-default;

    @include tablet {
      margin-bottom: 32px;
    }

    &:hover {
      color: $color-red;
    }
  }

  &__social-list {
    display: flex;
    justify-content: center;
    gap: px2rem(7);

    @include desktop {
      gap: px2rem(12);
    }
  }

  &__social-el {
    flex-shrink: 0;
  }

  &__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: px2rem(32);
    height: px2rem(32);
    transition: color $transition-default;

    &:hover {
      color: $color-red;
    }

    @include tablet {
      width: px2rem(60);
      height: px2rem(60);
    }
  }

  &__social-icon {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    gap: px2rem(16);
    margin-bottom: px2rem(20);

    @include tablet {
      flex-direction: row;
      gap: px2rem(60);
      margin-bottom: 0;
    }
  }

  &__link {
    font-size: px2rem(12);
    line-height: 1.24;
    transition: color $transition-default;
    color: rgba($color-text, .5);

    @include tablet {
      font-size: px2rem(16);
    }

    &:hover {
      color: $color-red;
    }
  }
}