.footer {
  background-color: var(--color-bg);

  &__container {
  }

  &__top {
    display: grid;
    grid-template: auto / minmax(0,3fr) minmax(0, 9fr);
    grid-gap: 10px;
    padding-top: 36px;
    padding-bottom: 30px;
  }

  &__logo-col {
  }

  &__logo-link {
    display: block;
    width: 160px;
    margin-bottom: 30px;
  }

  &__logo {
    display: block;
    width: 100%;
  }

  &__btn-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 220px;
  }

  &__nav {
    display: grid;
    grid-template: auto / repeat(4 ,minmax(0, 1fr));
    grid-gap: 22px;
  }

  &__nav-col {
  }

  &__nav-title {
    margin-bottom: 18px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: $color-primary;
    text-transform: uppercase;
  }

  &__nav-subtitle {
    margin-bottom: 18px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: $color-secondary;
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__nav-elem {
  }

  &__nav-link {
    font-size: 16px;
    line-height: 20px;
    color: $color-text;
    opacity: .5;
    transition: opacity $transition-default;

    &:hover {
      opacity: 1;
    }
  }

  // Center section
  &__center {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 24px;
    padding-top: 30px;
    padding-bottom: 36px;
  }

  &__contacts-col {
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
  }

  &__phone-box {
  }

  &__phone-description {
    display: block;
    margin-bottom: 3px;
    font-size: 14px;
    line-height: 18px;
  }

  &__phone-link {
    font-size: 25px;
    line-height: 28px;
    font-weight: 600;
    color: $color-primary;
    white-space: nowrap;
    transition: color $transition-default;

    &:hover {
      color: $color-primary-dark;
      text-decoration: underline;
    }
  }

  &__social-list {
    margin-top: 14px;
  }

  &__apps-col {
  }

  &__apps {
    position: relative;
    display: block;
    width: 100%;
    max-width: 665px;
    background-color: $color-primary;
    border-radius: 24px;
    background-image: url('../images/common/apps-bg.svg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 40% -140%;
    overflow: hidden;
    max-height: 282px;
  }

  &__apps-content-box {
    padding: 36px 36px 24px 36px;
  }

  &__apps-title {
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 40px;
    font-weight: 600;
    color: #fff;
  }

  &__apps-links {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 220px;
  }

  &__apps-img {
    position: absolute;
    top: -90px;
    right: 35px;
    display: block;
    width: 58%;
  }

  // Bottom section
  &__bottom {
    padding-top: 28px;
    padding-bottom: 28px;
    border-top: 1px solid;
  }

  &__copyright-box {
    display: flex;
    align-items: center;
    gap: 74px;
    margin-bottom: 22px;
  }

  &__link-list {
    flex-shrink: 0;
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__link-elem {
    flex-shrink: 0;
  }

  &__link {
    display: block;
  }

  &__link-img {
    display: block;
    width: 100%;
  }

  &__copyright {
    font-size: 14px;
    line-height: 16px;
  }

  &__terms-list {
    display: flex;
    gap: 20px;
  }

  &__terms-el {
  }

  &__terms-link {
    font-size: 14px;
    line-height: 16px;
    color: $color-primary;
    text-decoration: underline;

    &:hover {
      color: $color-primary-dark;
      text-decoration: none;
    }
  }
}

// theme
.theme-light {
  .footer {
    &__bottom {
      border-color: #EAEAEF;
    }

    &__copyright {
      opacity: .5;
    }
  }
}

.theme-dark {
  .footer {
    &__bottom {
      border-color: #9DA2A8;
    }

    &__copyright {
      opacity: 1;
    }
  }
}
