.footer {
  margin-top: 60px;
  background-color: var(--color-bg);

  &__container {
  }

  &__top {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    padding-bottom: 36px;

    @include tablet {
    }
    @include desktop {
      flex-direction: row;
      justify-content: space-between;
      gap: 24px;
      padding-top: 36px;
      padding-bottom: 48px;
    }
  }

  &__logo-box {
    display: grid;
    grid-template: auto / 100px auto;
    grid-gap: 30px 20px;
    margin-bottom: 30px;

    @include desktop {
      display: flex;
      flex-direction: column;
      padding-bottom: 19px;
      grid-gap: unset;
      margin-bottom: 0;
    }
  }

  &__logo-link {
    display: block;
    width: 100px;
    order: 0;

    @include desktop {
      width: 160px;
      margin-bottom: 30px;
    }
  }

  &__logo {
    display: block;
    width: 100%;
  }

  &__btn-box {
    display: flex;
    gap: 12px;
    order: 2;
    grid-column: 1/3;

    &--mobile {
      margin-bottom: 20px;

      @include desktop {
        display: none;
      }
    }

    @include desktop {
      flex-direction: column;
      max-width: 220px;
      order: unset;
      grid-column: unset;
    }
  }

  &__btn {
    flex-grow: 1;

    .footer__btn-box--mobile & {
      color: $color-primary;

      &:hover {
        color: $color-bg;
      }
    }

    @include desktop {
      flex-grow: unset;
    }
  }

  &__nav {
    display: grid;
    grid-template: auto / 100%;
    grid-gap: 14px;
    margin-bottom: 36px;

    @include desktop {
      grid-template: auto / repeat(3 ,minmax(0, 184px));
      grid-gap: 46px;
    }
  }

  &__nav-col {
    border: 1px solid #9DA2A8;
    border-radius: 12px;
    padding: 12px 16px;

    @include desktop {
      border: none;
      padding: 0;
    }
  }

  &__nav-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 22px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: $color-primary;
    text-transform: uppercase;

    @include desktop {
      margin-bottom: 25px;
    }
  }

  &__nav-title-arrow {
    display: block;
    width: 16px;
    height: 16px;
    transition: transform $transition-default;

    @include desktop {
      display: none;
    }

    .footer__nav-col--open & {
      transform: rotate(-180deg);
    }
  }

  &__nav-list {
    display: none;
    flex-direction: column;
    gap: 4px;
    padding-top: 16px;

    .footer__nav-col--open & {
      display: flex;
    }

    @include desktop {
      display: flex !important;
      padding-top: 0;
    }
  }

  &__nav-elem {
  }

  &__nav-link {
    font-size: 16px;
    line-height: 20px;
    color: $color-text;
    opacity: .5;
    transition: opacity $transition-default;

    &:hover {
      opacity: 1;
    }
  }

  &__contacts-col {
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
  }

  &__phone-wrap {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    order: 1;
    margin-left: auto;

    @include desktop {
      margin-bottom: 34px;
      order: unset;
      margin-left: unset;
    }
  }

  &__phone-description {
    display: block;
    margin-bottom: 3px;
    font-size: 14px;
    line-height: 18px;
  }

  &__phone-link {
    font-size: 25px;
    line-height: 28px;
    font-weight: 600;
    color: $color-primary;
    white-space: nowrap;
    transition: color $transition-default;

    &:hover {
      color: $color-primary-dark;
      text-decoration: underline;
    }
  }

  &__social-list {
    &--desktop {
      display: none;

      @include desktop {
        display: flex;
      }
    }

    &--mobile {
      margin: 0 auto;

      @include desktop {
        display: none;
      }
    }
  }

  &__apps {
    position: relative;
    display: none;
    width: 100%;
    max-width: 665px;
    background-color: $color-primary;
    border-radius: 24px;
    background-image: url('../images/common/apps-bg.svg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 40% -140%;
    overflow: hidden;
    max-height: 282px;

    @include desktop {
      display: block;
    }
  }

  &__apps-content-box {
    padding: 36px 36px 24px 36px;
  }

  &__apps-title {
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 40px;
    font-weight: 600;
    color: #fff;
  }

  &__apps-links {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 220px;
  }

  &__apps-img {
    position: absolute;
    top: -90px;
    right: 35px;
    display: block;
    width: 58%;
  }

  // Bottom section
  &__bottom {
    padding-top: 28px;
    padding-bottom: 28px;
    border-top: 1px solid;
  }

  &__copyright-box {
    display: flex;
    align-items: center;
    gap: 74px;
    margin-bottom: 11px;

    @include desktop {
      margin-bottom: 22px;
    }
  }

  &__link-list {
    flex-shrink: 0;
    display: none;
    gap: 20px;
    align-items: center;

    @include desktop {
      display: flex;
    }
  }

  &__link-elem {
    flex-shrink: 0;
  }

  &__link {
    display: block;
  }

  &__link-img {
    display: block;
    width: 100%;
  }

  &__copyright {
    font-size: 14px;
    line-height: 16px;
  }

  &__terms-list {
    display: flex;
    flex-direction: column;
    gap: 11px;
    text-align: center;

    @include desktop {
      flex-direction: row;
      gap: 20px;
      text-align: left;
    }
  }

  &__terms-el {
  }

  &__terms-link {
    font-size: 14px;
    line-height: 16px;
    color: $color-primary;
    text-decoration: underline;

    &:hover {
      color: $color-primary-dark;
      text-decoration: none;
    }
  }
}

// theme
.theme-light {
  .footer {
    &__bottom {
      border-color: #EAEAEF;
    }

    &__copyright {
      opacity: .5;
    }
  }
}

.theme-dark {
  .footer {
    &__bottom {
      border-color: #9DA2A8;
    }

    &__copyright {
      opacity: 1;
    }
  }
}
