.header {
  position: fixed;
  z-index: 888;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: px2rem(13);
  padding-bottom: px2rem(13);
  transition: background-color $transition-default, padding $transition-default, box-shadow $transition-default;

  @include desktop {
    padding-top: px2rem(33);
    padding-bottom: px2rem(33);
  }

  &--bg {
    background-color: rgba($color-bg, .9);
    backdrop-filter: blur(3px);
  }

  .menu-opened & {
    background-color: $color-bg;
  }

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo-link {
    flex-shrink: 0;
    display: block;
    margin-right: px2rem(10);
    width: px2rem(80);

    @include desktop {
      width: px2rem(100);
    }

    @include desktop-xl {
      margin-right: px2rem(20);
      width: px2rem(120);
    }
  }

  &__logo {
    display: block;
    width: 100%;
  }

  &__nav-wrap {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: px2rem(20);

    @include desktop {
      justify-content: unset;
    }
  }

  &__nav {
    flex-grow: 1;
    display: none;
    justify-content: center;

    @include desktop {
      display: flex;
    }
  }

  &__nav-list {
    display: flex;
    align-items: center;
    gap: px2rem(14);

    @include desktop-xl {
      gap: px2rem(40);
    }
  }

  &__nav-elem {
  }

  &__nav-link {
    padding: px2rem(14) 0;
    font-size: px2rem(16);
    line-height: px2rem(20);
    color: $color-text;
    transition: color $transition-default;

    &:hover {
      color: $color-red;
    }
  }

  &__phone-link {
    display: inline-block;
    border-color: transparent;
    background-color: transparent;
    font-size: px2rem(14);
    font-weight: 500;
    line-height: px2rem(24);
    text-align: center;
    color: $color-white;
    white-space: nowrap;
    overflow: hidden;
    transition: border-color $transition-default, background-color $transition-default, color $transition-default, box-shadow $transition-default;

    @include desktop-xl {
      padding: px2rem(11) px2rem(24);
      font-size: px2rem(20);
      border: 1px solid rgba($color-white, .4);

      &:hover {
        background-color: $color-white;
        border-color: $color-white;
        color: $color-black;
        box-shadow: 0 0 10px 10px rgba($color-white, .3);
      }
    }
  }

  &__action-btn {
    display: none;

    @include desktop {
      display: inline-block;
    }
  }

  &__menu-btn {
    position: relative;
    display: block;
    background-image: $gradient-red;
    width: px2rem(40);
    height: px2rem(40);
    margin-left: px2rem(16);
    padding: 0;
    border: none;

    @include desktop {
      display: none;
    }
  }

  &__menu-btn-line {
    position: absolute;
    top: 50%;
    left: 50%;
    width: px2rem(24);
    border-bottom: px2rem(2) solid $color-white;
    transform-origin: center center;
    transition: transform $transition-default, opacity $transition-default;

    &:nth-child(1) {
      transform: translate(-50%, px2rem(-7));
    }

    &:nth-child(2) {
      transform: translate(-50%, px2rem(-1));
    }

    &:nth-child(3) {
      transform: translate(-50%, px2rem(5));
    }

    .menu-opened & {
      &:nth-child(1) {
        transform: translate(-50%, 0) rotate(-45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: translate(-50%, 0) rotate(45deg);
      }
    }
  }
}