.header {
  //position: fixed;
  //top: 0;
  //left: 0;
  position: relative;
  z-index: 888;
  width: 100%;
  //background-color: $color-bg;
  //box-shadow: 0 0 18px color-mix(in srgb, var(--color-primary) 10%, transparent);

  .menu-open & {
    background-color: $color-bg;
  }

  &__container {
    position: relative;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  &__top {
    display: none;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
    margin-bottom: 18px;

    @include desktop {
      display: flex;
    }
  }

  &__city-box {
    position: relative;
  }

  &__city {
    display: inline-flex;
    gap: 8px;
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    text-decoration: underline;
    color: $color-primary;

    @include desktop {
      margin-right: auto;
    }
  }

  &__city-icon {
    flex-shrink: 0;
    display: block;
    width: 16px;
    height: 16px;
  }

  &__phone-box {
    display: inline-flex;
    gap: 12px;
    margin-left: auto;
  }

  &__phone-box-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    @include desktop {
      display: none;
    }
  }

  &__phone-link {
    font-size: 12px;
    line-height: 26px;
    font-weight: 500;
    color: $color-primary;
    white-space: nowrap;
    transition: color $transition-default;

    &:hover {
      color: $color-primary-dark;
      text-decoration: underline;
    }

    @include desktop {
      font-size: 22px;
      line-height: 26px;
      font-weight: 600;
    }
  }

  &__phone-text-box {
    display: flex;
    flex-direction: column;
  }

  &__phone-name {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
  }

  &__phone-note {
    font-size: 12px;
    line-height: 14px;
    color: #9DA2A8;
  }

  &__lang-swither {
    display: flex;
    gap: 8px;
  }

  &__lang {
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    text-transform: uppercase;
    transition: color $transition-default;

    &:hover {
      text-decoration: underline;
    }

    &--active {
      color: $color-primary;
      text-decoration: underline;
    }
  }

  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo-link {
    flex-shrink: 0;
    display: block;
    width: 100px;

    @include desktop {
      width: 120px;
      margin-right: 22px;
    }
    @include desktop-xl {
      width: 148px;
    }
  }

  &__logo {
    display: block;
    width: 100%;
  }

  &__nav {
    display: none;
    flex-grow: 1;

    @include desktop {
      display: block;
    }
  }

  &__nav-list {
    display: flex;
    align-items: center;
    gap: 22px;
  }

  &__nav-elem {
  }

  &__nav-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    min-width: 84px;
    white-space: nowrap;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    transition: color $transition-default;

    .header__nav-elem:hover & {
      color: $color-primary;
    }
  }

  &__menu {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    .header__nav-elem:hover & {
      visibility: visible;
      opacity: 1;
    }
  }

  &__nav-link-arrow {
    display: block;
    width: 12px;
    height: 12px;
  }

  &__action-box {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__action-desktop {
    display: none;
    @include desktop {
      display: inline-flex;
    }
  }

  &__action-mobile {
    @include desktop {
      display: none;
    }
  }

  &__burger-btn {
    position: relative;
  }

  &__burger-icon {
    transition: opacity $transition-default;

    &--normal {
      .menu-open & {
        opacity: 0;
      }
    }

    &--active {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;

      .menu-open & {
        opacity: 1;
      }
    }
  }
}