.header {
  position: fixed;
  z-index: 888;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-bg);
  //transition: background-color $transition-default, padding $transition-default, box-shadow $transition-default;

  /*&--bg {
    background-color: rgba($color-bg, .9);
    backdrop-filter: blur(3px);
  }*/

  /*.menu-opened & {
    background-color: $color-bg;
  }*/

  &__container {
    position: relative;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
    margin-bottom: 18px;
  }

  &__city {
    display: inline-flex;
    gap: 8px;
    margin-right: auto;
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    text-decoration: underline;
    color: $color-primary;
  }

  &__city-icon {
    flex-shrink: 0;
    display: block;
    width: 16px;
    height: 16px;
  }

  &__phone-box {
    display: inline-flex;
    gap: 12px;
  }

  &__phone-link {
    font-size: 22px;
    line-height: 26px;
    font-weight: 600;
    color: $color-primary;
    white-space: nowrap;
    transition: color $transition-default;

    &:hover {
      color: $color-primary-dark;
      text-decoration: underline;
    }
  }

  &__phone-text-box {
    display: flex;
    flex-direction: column;
  }

  &__phone-name {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
  }

  &__phone-note {
    font-size: 12px;
    line-height: 14px;
    color: #9DA2A8;
  }

  &__lang-swither {
    display: flex;
    gap: 8px;
  }

  &__lang {
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    text-transform: uppercase;
    transition: color $transition-default;

    &:hover {
      text-decoration: underline;
    }

    &--active {
      color: $color-primary;
      text-decoration: underline;
    }
  }

  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo-link {
    flex-shrink: 0;
    display: block;
    width: 148px;
    margin-right: 22px;
  }

  &__logo {
    display: block;
    width: 100%;
  }

  &__nav {
    flex-grow: 1;
  }

  &__nav-list {
    display: flex;
    align-items: center;
    gap: 22px;
  }

  &__nav-elem {
  }

  &__nav-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    min-width: 84px;
    white-space: nowrap;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    transition: color $transition-default;

    .header__nav-elem:hover & {
      color: $color-primary;
    }
  }

  &__menu {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    .header__nav-elem:hover & {
      visibility: visible;
      opacity: 1;
    }
  }

  &__nav-link-arrow {
    display: block;
    width: 12px;
    height: 12px;
  }

  &__action-box {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}