.hero-card {
  perspective: 1000px;
  
  &__box {
	position: relative;
	transition: transform 0.8s;
	transform-style: preserve-3d;
	
	.hero-card:hover & {
	  @include desktop {
		transform: rotateY(180deg);
	  }
	}
	
	.hero-card--active & {
	  @media (max-width: 1023px) {
		transform: rotateY(180deg);
	  }
	}
  }
  
  &__front, &__back {
	width: 100%;
	height: 100%;
	padding: 24px;
	border-radius: 28px;
	backface-visibility: hidden;
	box-shadow: 0 4px 24px rgba(#5C0000, .25);
  }
  
  &__front {
	position: absolute;
	top: 0;
	pointer-events: none;
  }
  
  &__back {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	aspect-ratio: .73;
	background-image: radial-gradient(
					at top right,
					rgba(255, 255, 255, .5) 0%,
					transparent 100%
	), linear-gradient(30deg, #{$color-primary}, #{$color-secondary});
	transform: rotateY(180deg);
	
	@include desktop {
	}
  }
  
  &__img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }
  
  &__header {
	display: flex;
	gap: 10px;
	margin-bottom: 28px;
  }
  
  &__number {
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	font-size: 14px;
	line-height: 28px;
	font-weight: 600;
	
	.hero-card__front & {
	  background-color: $color-primary;
	  color: #fff;
	}
	
	.hero-card__back & {
	  background-color: #fff;
	  color: #0C0C0C;
	}
  }
  
  &__title {
	font-size: 22px;
	line-height: 26px;
	font-weight: 600;
	color: #fff;
	
	.hero-card__front & {
	  color: $color-text;
	}
	
	.hero-card__back & {
	  color: #fff;
	}
  }
  
  &__text {
	font-size: 18px;
	line-height: 24px;
	color: rgba(#fff, .5);
	
	&:not(:last-child) {
	  margin-bottom: 24px;
	}
  }
  
  &__text-highlighted {
	color: #fff;
  }
  
  &__btn {
	margin-top: auto;
  }
}

// theme
.theme-light {
  .hero-card {
	&__front {
	  background-color: #fff;
	}
  }
}

.theme-dark {
  .hero-card {
	&__front {
	  background-color: #26262B;
	}
  }
}
