.input {
  display: block;
  width: 100%;
  min-width: unset;
  padding: 16px;
  border: 1px solid #EDEEF1;
  border-radius: 12px;
  background-color: $color-bg;
  font-size: 16px;
  line-height: 24px;
  color: $color-text;
  transition: border-color $transition-default;

  &::placeholder {
    color: #9DA2A8;
  }

  &:hover {
    border-color: $color-primary-light;
  }

  &:focus {
    border-color: $color-primary;
    outline: none;
  }
}