.menu {
  position: absolute;
  top: calc(100% - 44px);
  left: 0;
  width: 100%;
  padding-top: 42px;

  &__box {
    display: inline-block;
    width: 100%;
    padding: 25px;
    background-color: $color-bg;
    border: 1px solid $color-secondary;
    border-radius: 24px;
    column-gap: 48px;
    row-gap: 0;

    .menu--cols-4 & {
      columns: 4;
    }

    .menu--cols-3 & {
      columns: 3;
    }
  }

  &__group {
    margin-bottom: 25px;
    break-inside: avoid;
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
  }

  &__title-link {
    display: inline-block;
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: $color-primary;
    transition: color $transition-default;

    &:only-child {
      margin-bottom: 0;
    }

    &:hover {
      color: $color-primary;
      text-decoration: underline;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__list-elem {
  }

  &__link {
    position: relative;
    display: inline-block;
    padding-left: 22px;
    transition: color $transition-default;

    &:hover {
      color: $color-primary;
      text-decoration: underline;
    }
  }

  &__link-icon {
    position: absolute;
    top: 5px;
    left: 0;
    transform: rotate(-90deg);
    display: block;
    width: 12px;
    height: 12px;
    opacity: .9;
    color: $color-primary-light;
  }
}