.mobile-menu {
    position: fixed;
    z-index: 887;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: px2rem(120) px2rem(25);
    background-color: $color-bg;
    overflow-y: auto;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity $transition-default, transform $transition-default;

    .menu-opened & {
        opacity: 1;
        transform: translateX(0);
    }

    &__container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__nav {
        display: flex;
        flex-direction: column;
        gap: px2rem(24);
    }

    &__nav-el {
        display: block;
    }

    &__nav-link {
        display: block;
        width: 100%;
    }

    &__bottom {
        margin-top: auto;
    }

    &__action-btn {
        margin-top: px2rem(24);
        width: 100%;
    }
}