.modal {
  display: none;
  opacity: 0;
  position: fixed;
  z-index: 777;
  top: 0;
  left: 0;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  transition: opacity $transition-default;
  background-color: $color-bg;
  
  &__container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
  }
  
  &--show {
	opacity: 1;
  }
  
  &--chat {
	overflow: unset;
	background-image: linear-gradient(to top, $color-primary-light, color-mix(in srgb, #{$color-primary} 5%, transparent));
  }
  
  &__window {
	opacity: 0;
	transform: translateY(20%);
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: auto;
	padding-top: 24px;
	padding-bottom: 24px;
	transition: opacity $transition-default, transform $transition-default;
	
	.modal--show & {
	  opacity: 1;
	  transform: none;
	}
 
	.modal--chat & {
	  height: 100vh;
	}
  }
  
  &__content-box {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	padding: 20px 0;
	
	@include desktop {
	  padding: 40px 0;
	}
	
	.modal--chat & {
	  flex-grow: 1;
	  display: flex;
	  gap: 20px;
	  height: calc(100% - 300px);
	  
	  @include tablet {
		flex-direction: row;
		gap: 30px;
	  }
	  
	  @include desktop {
		gap: 40px;
	  }
	}
  }
  
  &__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 16px;
 
	.modal--header-fixed & {
	  margin-top: 90px;
	
	  @include desktop {
		margin-top: 148px;
	  }
	}
  }
  
  
  &__title {
	font-size: 24px;
	line-height: 30px;
	font-weight: 600;
	
	@include desktop {
	  font-size: 36px;
	  line-height: 40px;
	}
  }
  
  &__close {
	margin-left: auto;
	display: block;
	width: 32px;
	height: 32px;
	padding: 0;
	border: none;
	background-color: transparent;
	color: $color-text;
	transition: color $transition-default;
	
	&:hover {
	  color: $color-primary;
	}
  }
  
  &__close-icon {
	display: block;
	width: 100%;
	height: 100%;
  }
  
  // modal-question
  
  &__question-form {
	display: grid;
	grid-template: auto / 100%;
	grid-gap: 16px;
	
	@include tablet {
	  grid-template: auto / repeat(2,minmax(0,1fr));
	  grid-gap: 20px;
	}
	
	@include desktop {
	  
	  grid-template: auto / minmax(0,1fr) minmax(0, 2.41fr);
	  grid-gap: 40px;
	}
  }
  
  &__question-form-box {
	display: flex;
	flex-direction: column;
	gap: 16px;
	
	@include tablet {
	  gap: 20px;
	}
	
	@include desktop {
	  gap: 40px;
	}
	
	@media (max-height: 760px) {
	  grid-gap: 20px;
	}
  }
  
  &__question-textarea {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	
	.form-group__input-box {
	  display: flex;
	  flex-direction: column;
	  flex-grow: 1;
	  
	  textarea {
		flex-grow: 1;
	  }
	}
  }
  
  &__question-form-text-box {
	display: flex;
	flex-direction: column;
	gap: 10px;
  }
  
  &__question-form-text {
	font-size: 16px;
	line-height: 24px;
	color: #9DA2A8;

	&--red {
	  color: $color-primary;
	}

	a {
	  text-decoration: underline;
	  transition: color $transition-default;

	  &:hover {
		color: $color-primary;
	  }
	}
  }

  // modal-chat
  &__chat-hero {
	flex-shrink: 0;
	display: none;
	width: 150px;
	height: 150px;
	margin-top: auto;
	
	@include desktop {
	  display: block;
	}
  }

  &__chat-hero-img {
	display: block;
	width: 100%;
	height: 100%;
  }

  &__chat-main {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	height: 100%;
  }

  &__chat-messages {
	flex-grow: 1;
	padding-top: 40px;
	padding-bottom: 40px;
	overflow: auto;
 
	mask-image: linear-gradient(
					to bottom,
					transparent,
					black 20px,
					black calc(100% - 20px),
					transparent
	);
  }

  &__chat-message {
	display: flex;
	flex-direction: column;
	gap: 6px;
	
	&:not(:last-child) {
	  margin-bottom: 20px;
	}

	&--incoming {
	  align-items: flex-start;
	}

	&--outgoing {
	  align-items: flex-end;
	}
  }

  &__chat-message-bubble {
	padding: 12px 16px;
	border-radius: 12px;
	max-width: 80%;

	@include desktop {
	  padding: 14px 18px;
	  max-width: 70%;
	}

	.modal__chat-message--incoming & {
	  border-bottom-left-radius: 0;
	  background-color: $color-bg;
	}

	.modal__chat-message--outgoing & {
	  border-bottom-right-radius: 0;
	  background-color: $color-primary-light;
	  color: #fff;
	}
  }

  &__chat-message-text {
	font-size: 15px;
	line-height: 22px;

	@include desktop {
	  font-size: 16px;
	  line-height: 24px;
	}
	
	strong {
	  font-weight: 600;
	}
 
	a {
	  text-decoration: underline;
	  transition: color $transition-default;
	
	  &:hover {
		color: currentColor !important;
	  }
	}
  }

  &__chat-form {
	position: sticky;
	padding-top: 40px;
	display: flex;
	width: 100%;
  }

  &__chat-input-box {
	flex-grow: 1;
  }
  &__chat-input {
	display: block;
	width: 100%;
	padding: 11px 15px;
	font-size: 18px;
	border: 2px solid $color-primary;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	
	&:focus {
	  outline: none;
	}
  }

  &__chat-send {
	flex-shrink: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
  }
}

// theme
.theme-light {
  .modal {
	.modal__chat-message--incoming .modal__chat-message-text {
	  a {
		color: $color-primary;
	  }
	}
	
	.modal__chat-message--outgoing  .modal__chat-message-text {
	  a {
		color: $color-text;
	  }
	}
  }
}

.theme-dark {
  .modal {
	  .modal__chat-message--incoming .modal__chat-message-text {
		a {
		  color: $color-primary-light;
		}
	  }
	  
	  .modal__chat-message--outgoing  .modal__chat-message-text {
		a {
		  color: #000;
		}
	  }
  }
}