.modal {
  display: none;
  opacity: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  transition: opacity $transition-default;
  background-color: $color-bg;
  
  &__container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
  }
  
  &--show {
	opacity: 1;
  }
  
  &__window {
	opacity: 0;
	transform: translateY(20%);
	position: relative;
	width: 100%;
	margin: auto;
	padding-top: 24px;
	padding-bottom: 24px;
	transition: opacity $transition-default, transform $transition-default;
	
	.modal--show & {
	  opacity: 1;
	  transform: none;
	}
  }
  
  &__content-box {
	padding: 20px 0;
	
	@include desktop {
	  padding: 40px 0;
	}
  }
  
  &__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 16px;
  }
  
  
  &__title {
	font-size: 24px;
	line-height: 30px;
	font-weight: 600;
	
	@include desktop {
	  font-size: 36px;
	  line-height: 40px;
	}
  }
  
  &__close {
	display: block;
	width: 32px;
	height: 32px;
	padding: 0;
	border: none;
	background-color: transparent;
	color: $color-text;
	transition: color $transition-default;
	
	&:hover {
	  color: $color-primary;
	}
  }
  
  &__close-icon {
	display: block;
	width: 100%;
	height: 100%;
  }
  
  // modal-question
  
  &__question-form {
	display: grid;
	grid-template: auto / 100%;
	grid-gap: 16px;
	
	@include tablet {
	  grid-template: auto / repeat(2,minmax(0,1fr));
	  grid-gap: 20px;
	}
	
	@include desktop {
	  
	  grid-template: auto / minmax(0,1fr) minmax(0, 2.41fr);
	  grid-gap: 40px;
	}
  }
  
  &__question-form-box {
	display: flex;
	flex-direction: column;
	gap: 16px;
	
	@include tablet {
	  gap: 20px;
	}
	
	@include desktop {
	  gap: 40px;
	}
	
	@media (max-height: 760px) {
	  grid-gap: 20px;
	}
  }
  
  &__question-textarea {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	
	.form-group__input-box {
	  display: flex;
	  flex-direction: column;
	  flex-grow: 1;
	  
	  textarea {
		flex-grow: 1;
	  }
	}
  }
  
  &__question-form-text-box {
	display: flex;
	flex-direction: column;
	gap: 10px;
  }
  
  &__question-form-text {
	font-size: 16px;
	line-height: 24px;
	color: #9DA2A8;
	
	&--red {
	  color: $color-primary;
	}
	
	a {
	  text-decoration: underline;
	  transition: color $transition-default;
	  
	  &:hover {
		color: $color-primary;
	  }
	}
  }
}