.news-card {
  display: flex;
  flex-direction: column;
  border-radius: 28px;
  box-shadow: 0 2px 8px rgba(#000, .08);
  overflow: hidden;

  &__img-box {
    height: 264px;
    border-radius: 28px;
    overflow: hidden;

    @include tablet {
      height: 300px;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform $transition-default;

    .news-card:hover & {
      transform: scale(1.05);
    }
  }

  &__content-box {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 12px 18px 30px;

    @include tablet {
      padding: 15px 20px 35px;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
    margin-bottom: 20px;

    @include desktop {
      margin-bottom: 24px;
    }
  }

  &__tag {
  }

  &__date {
    flex-shrink: 0;
    font-size: 16px;
    line-height: 1.1;
    font-weight: 500;
    letter-spacing: -.01em;
    color: $color-primary;
    white-space: nowrap;
    opacity: .5;
  }

  &__title {
    margin-bottom: 57px;
    font-size: 24px;
    line-height: 1;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    @include tablet {
      margin-bottom: 64px;
    }
  }

  &__bottom-box {
    margin-top: auto;
  }
}


// theme
.theme-light {
  .news-card {
    &__img-box {
      border: 1px solid #EBEBEB;
    }
  }
}

.theme-dark {
  .news-card {
    background-color: #26262B;

    &__img-box {
      border: 1px solid #4A5560;
    }
  }
}