.station-dashboard {
  &__data {
    display: grid;
    grid-template: auto / repeat(4, minmax(0,1fr));
    grid-gap: 30px;
    margin-bottom: 30px;
  }

  &__data-col {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__data-group {
    padding: 23px;
    border-radius: 8px;
    font-size: 20px;
    line-height: 1;
    font-weight: 600;
    color: #0C0C0C;
    text-align: center;
    box-shadow: 0 2px 8px rgba(#000, .08);
    background: radial-gradient(ellipse at right top, #EE2E22 0%, transparent 34%) no-repeat right top;
    background-color: #fff;
    background-size: 125% 203%;
  }

  &__data-values {
    display: grid;
    grid-template: auto / repeat(2, minmax(0,1fr));
    grid-gap: 12px;
    font-size: 20px;
    line-height: 1;
    text-align: center;
  }

  &__data-value {
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 20px;
    line-height: 1;
    box-shadow: 0 2px 8px rgba(#000, .08);

    &--white {
      background-color: #fff;
      border: 1px solid rgba(#000, .08);
      color: #0C0C0C;
    }

    &--red {
      background-color: #EE2E22;
      color: #fff;
    }

    &--green {
      background-color: #00C946;
      color: #fff;
    }

    &--grey {
      background-color: #D9D9D9;
      color: #0C0C0C;
    }

    &--yellow {
      background-color: #FBBF27;
      color: #fff;
    }
  }

  &__text {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
  }

  &__img-box {
    flex-shrink: 0;
    max-width: 440px;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__desc {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__desc-row {
    display: flex;
    gap: 12px;
  }

  &__desc-marker {
    flex-shrink: 0;
    width: 130px;
    height: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(#000, .08);

    &--white {
      background-color: #fff;
      border: 1px solid rgba(#000, .08);
      color: #0C0C0C;
    }

    &--red {
      background-color: #EE2E22;
      color: #fff;
    }

    &--green {
      background-color: #00C946;
      color: #fff;
    }

    &--grey {
      background-color: #D9D9D9;
      color: #0C0C0C;
    }

    &--yellow {
      background-color: #FBBF27;
      color: #fff;
    }
  }

  &__desc-text {
    padding-top: 3px;
    font-size: 18px;
    line-height: 1;
    color: color-mix(in srgb, #{$color-text} 50%, transparent);

    strong {
      color: $color-text;
    }
  }

  &__btn {
  }
}