.station-media {
  display: grid;
  grid-template: auto / repeat(2, minmax(0,1fr));
  grid-gap: 20px;

  &__video-box {
    border-radius: 28px;
    overflow: hidden;
  }

  &__video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

  }

  &__content-box {
    padding: 20px 20px 0 20px;
    border-radius: 20px;
    background: radial-gradient(
                    ellipse at right top,
                    $color-primary 0%,
                    transparent 65%
    ) no-repeat right top;
    background-size: 85% 110%;
  }

  &__title {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 1.4;
    font-weight: 600;
  }

  &__bottom {
    display: flex;
    gap: 50px;
    align-items: flex-end;
  }

  &__img-box {
  }

  &__img {
    display: block;
    max-width: 100%;
  }

  &__btn {
    flex-shrink: 0;
    margin-bottom: 20px;
  }
}