.station-contacts {
  display: grid;
  grid-template: auto / repeat(2,minmax(0,1fr));
  grid-gap: 20px;

  &__map {
    border-radius: 28px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    min-height: 400px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
    border-radius: 20px;
    background: radial-gradient(
                    ellipse at right bottom,
                    $color-primary 0%,
                    transparent 65%
    ) no-repeat right top;
    background-size: 85% 170%;
  }

  &__text-wrap {
    margin-bottom: 30px;
  }

  &__bottom-box {
    display: flex;
    align-items: flex-end;
    gap: 10px;
  }

  &__img-box {
  }

  &__img {
    display: block;
    max-width: 100%;
  }

  &__btn {
    flex-shrink: 0;
    margin-bottom: 20px;
  }
}