.tag {
  display: inline-block;
  padding: 6px 8px;
  border: 1px solid;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: border-color $transition-default, color $transition-default;

  @at-root a#{&} {
    &:hover {
      border-color: $color-primary;
      color: $color-primary;
    }
  }
}

// theme
.theme-light {
  .tag {
    border-color: rgba(#272727, .25);
    color: #272727;
  }
}

.theme-dark {
  .tag {
    border-color: rgba(#fff, .25);
    color: #fff;
  }
}