.theme-switcher {
  position: relative;
  z-index: 0;
  display: inline-flex;
  padding: 1px;
  border: 1px solid #EAEAEF;
  border-radius: 50px;

  &::before {
    position: absolute;
    z-index: -1;
    top: 1px;
    left: 1px;
    display: block;
    width: 24px;
    height: 24px;
    background-color: $color-primary;
    border-radius: 50px;
    content: "";
    transition: transform $transition-default;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    border-radius: 50px;
    background-color: transparent;
    color: $color-text;
    transition: color $transition-default;
  }

  &__btn-icon {
    display: block;
    width: 16px;
    height: 16px;
  }
}


// theme
.theme-light {
  .theme-switcher {
    &__btn[data-theme="light"] {
      color: #fff;
    }
  }
}

.theme-dark {
  .theme-switcher {
    &::before {
      transform: translateX(100%);
    }

    &__btn[data-theme="dark"] {
      color: #fff;
    }
  }
}