.lk {
  min-height: 100vh;

  &__navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    padding: 15px 20px;
    overflow-y: auto;
  }

  &__logo-link {
    display: inline-block;
    margin-bottom: 50px;
  }

  &__logo {
    display: block;
    max-width: 100%;
  }

  &__navbar-title {
    margin-bottom: 40px;
    font-size: 32px;
    line-height: 38px;
    font-weight: 500;
    text-align: center;
  }

  &__navbar-panel-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 60px;
  }

  &__navbar-panel {
    padding: 17px 15px;
    border-radius: 15px;
    background-color: $color-bg;
  }

  &__navbar-row-list {
    display: flex;
    flex-direction: column;
    gap: 21px;
  }

  &__navbar-row {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    font-size: 16px;
    line-height: 26px;
  }

  &__navbar-row-key {
  }

  &__navbar-row-value {
    color: $color-primary;
  }

  &__navbar-note {
    margin-top: 10px;
    font-size: 12px;
    line-height: 22px;
    color: $color-primary;
    text-align: center;
  }

  &__navbar-panel-text {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
  }

  &__navbar-bottom {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__navbar-link {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    line-height: 24px;
    transition: color $transition-default;

    &:hover {
      color: $color-primary;
    }
  }

  &__navbar-link-icon {
    flex-shrink: 0;
    display: block;
    width: 24px;
    height: 24px;
  }

  &__content {
    padding: 20px 40px 60px 325px;
  }

  &__menu {
    margin-bottom: 60px;
  }

  &__menu-list {
    display: inline-flex;
    justify-content: space-around;
    gap: 14px;
    padding: 20px 25px;
    border-radius: 16px;
  }

  &__menu-elem {
  }

  &__menu-link {
    display: inline-flex;
    gap: 8px;
    align-items: center;
    font-size: 14px;
    line-height: 24px;
    transition: color $transition-default;

    &:hover {
      color: $color-primary;
    }
  }

  &__menu-icon {
    flex-shrink: 0;
    display: block;
    width: 22px;
    height: 22px;
    color: $color-primary;
  }

  &__breadcrumbs {
    max-width: 100%;
    margin-bottom: 60px;
    padding: 0;
  }

  &__title {
    margin-bottom: 50px;
    font-size: 30px;
    line-height: 1;
  }

  &__tabs {
  }

  &__form {
    max-width: 630px;
  }

  &__form-grid {
    display: grid;
    grid-template: auto / repeat(2,minmax(0,1fr));
    grid-gap: 22px 48px;
    margin-bottom: 32px;
  }
}

// theme
.theme-light {
  .lk {
    &__navbar {
      background-color: #EDEEF1;
    }
    &__menu-list {
      background-color: #EDEEF1;
    }
  }
}

.theme-dark {
  .lk {
    &__navbar {
      background-color: #26262B;
    }
    &__menu-list {
      background-color: #26262B;
    }
  }
}