.section-library {
  padding-top: 30px;
  padding-bottom: 30px;
  
  &__title {
	margin-bottom: 40px;
	
	@include desktop {
	  margin-bottom: 60px;
	}
  }
  
  &__grid {
	display: grid;
	grid-template: auto / 100%;
	grid-gap: 16px;
	
	@include desktop {
	  grid-template: auto / repeat(3, minmax(0,1fr));
	  grid-gap: 12px;
	}
  }
  
  &__card {
	&:nth-child(4n-3) {
	  @include desktop {
		grid-row: 1/3;
	  }
	  
	  img {
		max-width: 310px;
		margin: 80px auto;
		
		@include desktop {
		  margin: auto;
		}
	  }
	}
	
	&:nth-child(4n-2) {
	  @include desktop {
		grid-row: 1/2;
	  }
	  
	  img {
		max-width: 190px;
	  }
	}
	
	&:nth-child(4n-1) {
	  @include desktop {
		grid-row: 2/3;
	  }
	  
	  img {
		max-width: 206px;
	  }
	}
	
	&:nth-child(4n) {
	  @include desktop {
		grid-row: 1/3;
	  }
	  
	  img {
		max-width: 304px;
		margin: 80px auto;
		
		@include desktop {
		  margin: auto;
		}
	  }
	}
  }
}