.section-station {
  padding-top: 30px;
  padding-bottom: 30px;

  &__title {
    margin-bottom: 30px;
  }

  &__content-box {
    display: grid;
    grid-template: auto / repeat(2,minmax(0,1fr));
    grid-gap: 32px;
    margin-bottom: 30px;
  }

  &__img-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    display: block;
    width: 100%;
    margin-bottom: 16px;
    border-radius: 28px;
  }

  &__text-box {
    p {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }

    strong {
      font-weight: 600;
    }

    a:not(.button) {
      transition: color $transition-default;

      &:hover {
        color: $color-primary;
      }
    }
  }

  &__social-box {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;

    p {
      margin-bottom: 0 !important;
    }
  }

  &__social {
  }

  &__gradien-box {
    margin-bottom: 12px;
    padding: 20px 20px 20px 0;
    border-radius: 20px;
    background: radial-gradient(
                    ellipse at right top,
                    $color-primary 0%,
                    transparent 55%
    ) no-repeat right top;
    background-size: 85% 170%;
  }

  &__btn {
    margin-top: 10px;
  }

  &__tabs {
    width: 100%;
  }
}