.section-info {
  &__grid {
	display: grid;
	grid-gap: 20px;
	margin-bottom: 20px;
	
	@include desktop {
	  grid-template-areas:
      "left left center-top center-top right right"
      "left left center-bottom center-bottom right right"
      "bottom-left bottom-left bottom-left bottom-right bottom-right bottom-right";
	  grid-template-columns: repeat(6, minmax(0, 1fr));
	}
  }
  
  &__card {
	min-height: 280px;
	flex-shrink: 0;
	
	&:nth-child(6n-5) {
	  min-height: 580px;
	  
	  @include desktop {
		grid-area: left;
	  }
	  
	  img {
		max-width: 238px;
		margin: auto;
	  }
	}
	
	&:nth-child(6n-4) {
	  @include desktop {
		grid-area: center-top;
	  }
	  
	  img {
		max-width: 184px;
	  }
	}
	
	&:nth-child(6n-3) {
	  @include desktop {
		grid-area: center-bottom;
	  }
	  
	  img {
		max-width: 155px;
	  }
	}
	
	&:nth-child(6n-2) {
	  min-height: 580px;
	  
	  @include desktop {
		grid-area: right;
	  }
	  
	  img {
		max-width: 246px;
		margin: auto;
	  }
	}
	
	&:nth-child(6n-1) {
	  @include desktop {
		grid-area: bottom-left;
	  }
	  
	  img {
		max-width: 158px;
	  }
	}
	
	&:nth-child(6n) {
	  @include desktop {
		grid-area: bottom-right;
	  }
	  
	  img {
		max-width: 133px;
	  }
	}
  }
}

// theme
.theme-light {
  .section-info {
	&__card {
	  background-color: #F3F4F6;
	  
	  &:hover {
		background-color: #fff;
		box-shadow: 0 2px 10px rgba(#000, .1);
	  }
	}
  }
}

.theme-dark {
  .section-info {
	&__card {
	  background-color: #26262B;
	  
	  &:hover {
		background-color: lighten(#26262B, 10%);
		box-shadow: 0 2px 10px rgba(#fff, .1);
	  }
	}
  }
}
