.section-about {
  padding-top: 30px;
  margin-bottom: 48px;

  @include tablet {
    margin-bottom: 60px;
  }

  &__title {
    margin-bottom: 48px;

    @include tablet {
      margin-bottom: 86px;
    }
  }

  &__card-grid {
    display: grid;
    grid-template: auto / 100%;
    grid-gap: 20px 12px;

    @include tablet {
      grid-template: 200px / repeat(2, minmax(0, 1fr));
      grid-auto-rows: 200px;
    }

    @include desktop {
      grid-template: 260px / repeat(2, minmax(0, 1fr));
      grid-auto-rows: 260px;
    }
  }

  &__card {
  }
}