.section-banner {
  padding-top: 30px;
  padding-bottom: 30px;

  &__banner {
    display: grid;
    grid-template: auto / repeat(2, minmax(0,1fr));
    border-radius: 24px;
    background-color: $color-primary;
    color: $color-bg;
  }

  &__content {
    padding: 32px 32px 40px 35px;
  }

  &__title {
    margin-bottom: 16px;
    font-size: 36px;
    line-height: 40px;
    font-weight: 600;
  }

  &__text {
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 22px;
  }

  &__btn {
  }

  &__img-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 13px 48px 13px 30px;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
