.section-banner {
  display: none;
  padding-top: 16px;
  padding-bottom: 16px;
  
  @include desktop {
	display: block;
	padding-top: 30px;
	padding-bottom: 30px;
  }
  
  &__banner {
	border-radius: 24px;
	background-color: $color-primary;
	color: $color-bg;
	
	@include desktop {
	  display: grid;
	  grid-template: auto / repeat(2, minmax(0,1fr));
	}
  }
  
  &__content {
	padding: 32px 32px 40px 35px;
  }
  
  &__title {
	margin-bottom: 16px;
	font-size: 30px;
	line-height: 30px;
	font-weight: 600;
	
	@include desktop {
	  font-size: 36px;
	  line-height: 40px;}
  }
  
  &__text {
	margin-bottom: 50px;
	font-size: 18px;
	line-height: 22px;
  }
  
  &__btn {
	width: 100%;
	
	@include desktop {
	  width: auto;
	}
  }
  
  &__img-box {
	display: none;
	flex-direction: column;
	justify-content: center;
	padding: 13px 48px 13px 30px;
	
	@include desktop {
	  display: flex;
	}
  }
  
  &__img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
  }
}
