.section-donation {
  padding-top: 30px;
  padding-bottom: 30px;
  
  &__title {
	margin-bottom: 40px;
	
	@include desktop {
	  margin-bottom: 60px;
	}
  }
  
  &__grid {
	display: grid;
	grid-template: auto / 100%;
	grid-gap: 16px;
	
	@include desktop {
	  grid-template: auto / repeat(3, minmax(0,1fr));
	  grid-gap: 12px;
	}
  }
  
  &__card {
	&:nth-child(1) {
	  @include desktop {
		grid-row: 1 / 3;
	  }
	  
	  img {
		max-width: 288px;
		margin: 80px auto;
		
		@include desktop {
		  margin: auto;
		}
	  }
	}
	
	&:nth-child(2) {
	  @include desktop {
		grid-row: 1 / 2;
	  }
	  img {
		max-width: 154px;
	  }
	}
	
	&:nth-child(3) {
	  @include desktop {
		grid-row: 2 / 3;
	  }
	  
	  img {
		max-width: 162px;
	  }
	}
	
	&:nth-child(4) {
	  @include desktop {
		grid-row: 1 / 3;
	  }
	  
	  img {
		max-width: 295px;
		margin: 80px auto;
		
		@include desktop {
		  margin: auto;
		}
	  }
	}
 
	&:nth-child(5) {
	  @include desktop {
		grid-row: 3 / 4;
	  }
	  
	  img {
		max-width: 170px;
	  }
	}
 
	&:nth-child(6) {
	  @include desktop {
		grid-row: 4 / 5;
	  }
	
	  img {
		max-width: 194px;
	  }
	}
 
	&:nth-child(7) {
	  @include desktop {
		grid-row: 3 / 5;
	  }
	  
	  img {
		max-width: 342px;
		margin: 80px auto;
		
		@include desktop {
		  margin: auto;
		}
	  }
	}
 
	&:nth-child(8) {
	  @include desktop {
		grid-row: 3 / 5;
	  }
	  
	  img {
		max-width: 328px;
		margin: 80px auto;
		
		@include desktop {
		  margin: auto;
		}
	  }
	}
  }
}