.section-article {
  padding-top: 30px;
  padding-bottom: 15px;

  &:last-child {
    padding-bottom: 45px;
  }

  &__title {
    margin-bottom: 12px;
    font-size: 50px;
    line-height: 65px;
    font-weight: 800;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 36px;
    margin-bottom: 24px;
  }

  &__date {
    font-size: 16px;
    line-height: 1.1;
    font-weight: 500;
    color: $color-primary;
    opacity: .5;
  }

  &__tag {
  }

  &__intro {
    display: flex;
    gap: 45px;
    margin-bottom: 36px;
    padding: 35px 60px 35px 30px;
    border: 1px solid;
    border-color: #D9D9D9;
    border-radius: 28px;
  }

  &__intro-img-box {
    flex-shrink: 0;
    width: 100%;
    max-width: 314px;
    border-radius: 28px;
    border: 1px solid;
    border-color: #D9D9D9;
    box-shadow: 0 4px 4px 0 rgba(#000, .25);
    overflow: hidden;
  }

  &__intro-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__intro-text {
    font-size: 21px;
    line-height: 30px;
    font-weight: 500;
  }

  &__content {
    font-size: 21px;
    line-height: 30px;

    p {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    strong {
      font-weight: 500;
    }

    a {
      color: $color-primary-light;
      text-decoration: underline;
      transition: color $transition-default;

      &:hover {
        color: $color-primary;
        text-decoration: none;
      }
    }

    blockquote {
      margin-top: 45px;
      margin-bottom: 45px;
      padding: 32px 100px 32px 45px;
      border-radius: 28px;
      box-shadow: 0 2px 8px rgba(#000,.08);
      background: radial-gradient(
                      ellipse at right top,
                      $color-primary 0%,
                      transparent 55%
      ) no-repeat right top;
      background-size: 85% 170%;
      font-size: 21px;
      line-height: 30px;
      font-weight: 500;
    }
  }

  &__how-to {
    max-width: 700px;
  }

  &__bottom {
    max-width: 800px;
    margin-top: 30px;
    padding-top: 30px;
    padding-left: 10px;
    border-top: 1px solid #EAEAEF;
  }

  &__source-link {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 21px;
    color: $color-primary-light;
    text-decoration: underline;
    transition: color $transition-default;

    &:hover {
      color: $color-primary;
      text-decoration: none;
    }
  }

  &__tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 17px;
  }

  &__tag-el {
    display: block;
    min-width: 156px;
  }

  &__tag-link {
    width: 100%;
  }

  &__share-box {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__share-list {
    display: flex;
    align-items: center;

    img {
      display: block;
    }
  }

  &__share-title {
  }

}