.section-404 {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 64px;
  padding-bottom: 128px;
  text-align: center;

  &::before {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(100% + 148px);
    background-size: 100% 100%;
    background-position: top center;
    background-repeat: no-repeat;
    pointer-events: none;
    content: "";
    mask-image: linear-gradient(
                    to right,
                    transparent 0%,
                    white 15%,
                    white 85%,
                    transparent 100%
    );
  }

  &__title {
    margin-bottom: 12px;
    font-size: 161px;
    line-height: 1;
    font-weight: 600;
    color: $color-primary;
  }

  &__text {
    margin-bottom: 56px;
    font-size: 18px;
    line-height: 22px;
    color: #9DA2A8;
  }

  &__link {
    width: 100%;
    max-width: 190px;
  }
}

// theme
.theme-light {
  .section-404 {
    &::before {
      background-image: url("../images/404/bg-theme-light.svg");
    }
  }
}

.theme-dark {
  .section-404 {
    &::before {
      background-image: url("../images/404/bg-theme-dark.svg");
    }
  }
}