@import "section-auth";
@import "section-404";
@import "section-news";
@import "section-article";
@import "section-slider";
@import "section-about";
@import "section-hero";
@import "section-donor-code";
@import "section-info";
@import "section-guide";
@import "section-banner";

@import "lk";
