*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	//padding-top: 84px;
	overflow-x: hidden;
	color: var(--color-text);
	-webkit-font-smoothing: antialiased;
	background-color: var(--color-bg);

	/*@include desktop {
		padding-top: 148px;
	}*/

	&.menu-open, &.lk-menu-open, &.lk-nav-open {
		overflow: hidden;
	}
}

.main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

button {
	cursor: pointer;
}

a {
	color: inherit;
	text-decoration: none;
}

