html {
	font-size: 16px;
}

body {
	font-family: $font-primary;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.3;

	@include desktop-xl {
		font-size: px2rem(18);
	}
}

input, button, textarea {
	font-family: inherit;
}

.h2 {
	font-size: px2rem(22);
	line-height: 1.24;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: .02em;

	@include desktop {
		font-size: px2rem(32);
	}

	@include desktop-xl {
		font-size: px2rem(44);
	}
}

