html {
  font-size: 16px;
}

body {
  font-family: $font-primary;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;

  @include desktop-xl {
    font-size: px2rem(18);
  }
}

input, button, textarea {
  font-family: inherit;
}

.h1 {
  font-size: 36px;
  line-height: 1;
  font-weight: 600;

  @include desktop {
    font-size: 56px;
  }
}

.h2 {
  font-size: 28px;
  line-height: 34px;
  font-weight: 600;

  @include desktop {
    font-size: 36px;
    line-height: 40px;
  }
}

.color-primary {
  color: $color-primary;
}

.link {
  color: $color-primary;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

