//- USAGE
//- +breadcrumb(['Main page', 'News'], 'News detail')
//- +breadcrumb(['Main page'])

mixin breadcrumb(items, last)
	// Breadcrumbs
	.container.breadcrumb&attributes(attributes)
		each item in items
			if (items.length === 0)
				span.breadcrumb__link= item
			else
				a(href="#" title=item).breadcrumb__link= item
				span.breadcrumb__separator /

		if last
			span.breadcrumb__current= last
		else