mixin docCard()
    // Doc card
    .doc-card&attributes(attributes)
        .doc-card__img-box
            img.doc-card__img(src="./images/station/photo.jpg", alt="")
        .doc-card__content-box
            .doc-card__top
                span.doc-card__tag.tag Менеджер по связям
                    br
                    |с общественностью
            p.doc-card__title Засухина Татьяна Николаевна
