mixin menu(content)
    // Menu
    .menu.container.header__menu(class=(content==='donor'?'menu--cols-4':'menu--cols-3'))
        .menu__box
            if content === 'donor'
                .menu__group
                    a.menu__title-link(href="#") Стать донором
                    ul.menu__list
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Противопоказания,  требования
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Где сдать кровь
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Безопасность донорства
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Сдать кровь вместе
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Процесс прохождения донации
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Как подготовиться к сдаче  крови? (Рекомендации до и после)
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Здоровое питание донора
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |https://будьдонором.рф/
                .menu__group
                    a.menu__title-link(href="#") О донорстве
                    ul.menu__list
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |История донорства
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Донорство в мире
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Кодекс донора
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Детям о донорстве организации
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Мифы о донорстве
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Факты о донорстве
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Добровольность и  безвозмездность в донорстве
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Донорство плазмы  (Ковид + иммунная)
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |https://koddonora.ru/
                .menu__group
                    a.menu__title-link(href="#") Бонусы и привилегии
                    ul.menu__list
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Почетный донор
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Льготы для доноров
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Программа лояльности  “Донор сапиенс”
                .menu__group
                    a.menu__title-link(href="#") О службе крови
                    ul.menu__list
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Программа развития
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Новости
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Медиагалерея событий
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Виртуальный музей
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon |Интервью
                .menu__group
                    a.menu__title-link(href="#") Часто задаваемые вопросы FAQ
                .menu__group
                    a.menu__title-link(href="#") Донорство костного мозга
            if content === 'doctor'
                .menu__group
                    a.menu__title-link(href="#") Стать доктором
                    ul.menu__list
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Противопоказания,  требования
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Где сдать кровь
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Безопасность донорства
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Сдать кровь вместе
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Процесс прохождения донации
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Как подготовиться к сдаче  крови? (Рекомендации до и после)
                .menu__group
                    a.menu__title-link(href="#") О докторах
                    ul.menu__list
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |История донорства
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Донорство в мире
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Кодекс донора
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Детям о донорстве организации
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Мифы о донорстве
                .menu__group
                    a.menu__title-link(href="#") Бонусы и привилегии
                    ul.menu__list
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Почетный донор
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Льготы для доноров
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Программа лояльности  “Донор сапиенс”
                .menu__group
                    a.menu__title-link(href="#") Часто задаваемые вопросы FAQ
                .menu__group
                    a.menu__title-link(href="#") Донорство костного мозга
            if content === 'partner'
                .menu__group
                    a.menu__title-link(href="#") Стать партнёром
                    ul.menu__list
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Противопоказания,  требования
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Где сдать кровь
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Безопасность донорства
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Сдать кровь вместе
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Процесс прохождения донации
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Как подготовиться к сдаче  крови? (Рекомендации до и после)
                .menu__group
                    a.menu__title-link(href="#") О партнёрах
                    ul.menu__list
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |История донорства
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Донорство в мире
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Кодекс донора
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Детям о донорстве организации
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Мифы о донорстве
                .menu__group
                    a.menu__title-link(href="#") Бонусы и привилегии
                    ul.menu__list
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Почетный донор
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Льготы для доноров
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Программа лояльности  “Донор сапиенс”
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Почетный донор
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Льготы для доноров
                        li.menu__list-elem
                            a.menu__link(href="#")
                                +svg("chevron-down").menu__link-icon
                                |Программа лояльности  “Донор сапиенс”
