mixin mobileMenu()
    // Mobile menu
    .mobile-menu
        .mobile-menu__container.container
            ul.mobile-menu__nav
                li.mobile-menu__nav-el
                    a.mobile-menu__nav-link(href="#")






