include mixins/svg
include mixins/picture

include common-blocks/header
include common-blocks/menu
include common-blocks/mobile-menu
include common-blocks/footer
include common-blocks/breadcrumb
include common-blocks/news-card
include common-blocks/city-search
include common-blocks/link-card