.container {
	width: 100%;
	padding-left: 16px;
	padding-right: 16px;
	margin-left: auto;
	margin-right: auto;

	@include tablet() {
		max-width: 1458px;
		padding-left: 24px;
		padding-right: 24px;
	}
}