.container {
  width: 100%;
  max-width: 1264px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;

  @include tablet {
    padding-left: 32px;
    padding-right: 32px;
  }
}