.event-hero {
	padding-top: 20px;
	padding-bottom: 20px;

	@include desktop {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	&__container {}

	&__btn-row {
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin-bottom: 40px;

		@include tablet {
			flex-direction: row;
			gap: 12px;
			margin-bottom: 50px;
		}

		.button {
			flex-grow: 1;
		}
	}

	&__banner {
		display: grid;
		grid-template: auto / 100%;
		grid-gap: 8px;
		background-image: url("../images/event/dots-right.svg");
		background-repeat: no-repeat;
		background-position: 132% 26%;
		background-size: auto 146%;
		background-color: $evt-color2;
		border-radius: 16px;
		color: $evt-text;
		overflow: hidden;
		font-family: $font-inter;

		@include desktop {
			grid-template: auto / minmax(0, 1.8fr) minmax(0, 1fr);
			background-image: url("../images/event/dots-left.svg"), url("../images/event/dots-right.svg");
			background-repeat: no-repeat, no-repeat;
			background-position: -32% 29%, 132% 26%;
			background-size: auto 196%;
		}

		&--lk {
			margin-bottom: 20px;
			padding: 30px 10px 0;
			border-radius: 16px;
			background-size: auto 200%;

			@include desktop {
				grid-template: auto / minmax(0, 1fr) minmax(0, 150px);
				padding: 20px 25px 25px;
				border-radius: 10px;
				background-size: auto 300%;
			}
		}
	}

	&__text-col {
		display: flex;
		flex-direction: column;
		padding: 20px 10px;

		@include desktop {
			padding: 90px 0 50px 56px;
		}

		.event-hero__banner--lk & {
			padding: 0;

			@include desktop {
				padding: 0;
			}
		}
	}

	&__title {
		display: flex;
		flex-direction: column;
		gap: 4px;
		margin-bottom: 20px;
		line-height: 1;

		@include desktop {
			gap: 10px;
			margin-bottom: 60px;
		}

		.event-hero__banner--lk & {
			font-size: 40px;
			line-height: 1;

			@include desktop {
				font-size: 36px;
				line-height: 1;
			}
		}
	}

	&__title-l1 {
		font-size: 58px;

		@include desktop {
			font-size: 96px;
		}
	}

	&__title-l2 {
		font-size: 25px;

		@include desktop {
			font-size: 48px;

		}
	}

	&__title-l3 {
		font-size: 25px;
		color: $evt-color1;

		@include desktop {
			font-size: 50px;
		}

		.event-hero__banner--lk & {
			font-size: 24px;
			line-height: 32px;

			@include desktop {
				font-size: 28px;
				line-height: 35px;
			}
		}
	}

	&__text-box {
		margin-top: auto;
		display: flex;
		flex-direction: column;
		gap: 10px;
		font-size: 16px;
		line-height: 20px;

		@include desktop {
			gap: 16px;
			font-size: 25px;
			line-height: 29px;
		}

		p {}

		time {
			font-size: 17px;
			color: $evt-color1;

			@include desktop {
				font-size: inherit;
			}

			.event-hero__banner--lk & {
				display: block;
				margin-top: 3px;

				@include desktop {
					display: inline;
					margin-top: 0;
				}
			}
		}

		.hidden-mobile {
			display: none;

			@include desktop {
				display: inline;
			}
		}

		.event-hero__banner--lk & {
			margin-bottom: 25px;
			font-size: 16px;
			line-height: 19px;
			font-weight: 300;

			@include desktop {
				margin-bottom: 20px;
			}
		}
	}

	&__img-col {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	&__img {
		display: block;
		width: 100%;
		max-width: 336px;
		margin: 0 auto -170px;
		transform-origin: top center;

		@include desktop {
			width: 111%;
			max-width: unset;
			margin: 0;
			transform-origin: top center;
			transform: scale(1.3) translate(9%, 3%);
		}

		.event-hero__banner--lk & {
			max-width: 170px;
			margin: -70px -40px -30px auto;

			@include desktop {
				margin: 0;
			}
		}
	}
}