.event-reward {
  padding-top: 0px;
  padding-bottom: 20px;
  
  @include desktop {
	padding-top: 40px;
	padding-bottom: 40px;
  }
  
  &__container {
  }
  
  &__header {
	margin-bottom: 34px;
	color: $evt-color1;
	text-align: center;
	
	@include desktop {
	  margin-bottom: 44px;
	}
  }
  
  &__title {
	margin-bottom: 6px;
	font-size: 20px;
	line-height: 31px;
	
	@include desktop {
	  font-size: 48px;
	  line-height: 1;
	}
  }
  
  &__text {
	max-width: 320px;
	margin: 0 auto;
	font-size: 16px;
	line-height: 20px;
	
	@include desktop {
	  max-width: 820px;
	  font-size: 21px;
	  line-height: 29px;
	}
  }
  
  &__grid {
	display: grid;
	grid-gap: 32px;
	
	@include desktop {
	  grid-template: auto / repeat(2, minmax(0,1fr));
	}
	
	@include desktop-xl {
	  grid-template: auto / repeat(4, minmax(0,1fr));
	}
  }
  
  &__card {
	@include eventShadow1;
	position: relative;
	padding: 38px 24px;
	background-color: $evt-color2;
	border-radius: 16px;
	color: $evt-text;
	
	@include desktop {
	  padding: 38px 16px 16px;
	}
  }
  
  &__card-num {
	@include eventShadow1;
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-7px, -20px);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 57px;
	height: 57px;
	border-radius: 50%;
	background-color: #fff;
	font-size: 48px;
	line-height: 30px;
	color: $evt-color1;
  }
  
  &__card-title {
	margin-bottom: 12px;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: $evt-color1;
	
	@include desktop {
	  min-height: 40px;
	  margin-bottom: 20px;
	}
	
	br {
	  display: none;
	  
	  @include desktop {
		display: block;
	  }
	}
  }
  
  &__card-text-box {
	font-size: 16px;
	line-height: 20px;
	
	@include desktop {
	  font-size: 14px;
	  line-height: 25px;
	}
	
	p {
	}
	
	ul {
	}
	
	li {
	  position: relative;
	  padding-left: 16px;
	  
	  &::before {
		position: absolute;
		top: 10px;
		left: 0;
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background-color: currentColor;
		content: "";
	  }
	}
  }
}