.event {
  font-family: $font-inter;
  font-weight: 800;
  
  &__news {
    @include desktop {
      display: none;
    }
  }
}

@import "event-hero";
@import "event-info";
@import "event-date";
@import "event-reward";
@import "event-how";
@import "event-project";
@import "event-steps";
@import "event-res";