extends pug/base

block content
	// Section 404
	.section-404.container
		h1.section-404__title 404
		p.section-404__text Похоже, что страница, которую вы ищите – не найдена.
			br
			|Попробуйте вернуться на главную.
		a.section-404__link.button.button--red.button--round-corner(href="./main.html") На главную