extends pug/base

prepend styles
	link(rel="stylesheet" href=`./lib/swiper/swiper-bundle.css`)
prepend scripts
	script(src=`./lib/swiper/swiper-bundle.min.js`)

block content
	+breadcrumb(["Главная"], "О службе крови")
	// Section About
	section.section-about.container
		h1.section-about__title.h1 О службе крови
		.section-about__card-grid
			+linkCard("Интервью","Делимся советами","icon1").section-about__card
			+linkCard("Написать нам","Ответим на все вопросы","icon2").section-about__card
			+linkCard("Виртуальный музей","Наша история","icon3").section-about__card
			+linkCard("О программе развития","Службы крови","icon4").section-about__card

	// Section Gallery
	section.section.section-gallery.container
		.section__header
			h2.section__title.h2 Галерея
			a.button.button--red.button--round-corner.section__header-btn(href="#") Показать все
		.section-gallery__grid
			+newsCard()
			+newsCard()


	// Section Slider
	section.section.section-slider.container
		.section__header
			h2.section__title.h2 Новости
			a.button.button--red.button--round-corner.section__header-btn(href="#") Все новости
		.section-slider__slider-box
			.swiper.section-slider__slider
				.swiper-wrapper
					- let i = 0
					while i < 7
						+newsCard().swiper-slide
						- i++
			.section-slider__slider-nav
				button.section-slider__slider-btn.section-slider__slider-btn--prev(type="button", aria-label="Назад")
					+svg("chevron-down").section-slider__slider-btn-icon
				button.section-slider__slider-btn.section-slider__slider-btn--next(type="button", aria-label="Вперед")
					+svg("chevron-down").section-slider__slider-btn-icon