extends pug/base

block content
    .container
        ol
            li
                a(href="./main.html", target="_blank") Главная
            li
                a(href="./auth.html", target="_blank") Авторизация
            li
                a(href="./404.html", target="_blank") 404
            li
                a(href="./blog.html", target="_blank") Блог
            li
                a(href="./article.html", target="_blank") Статья
            li
                a(href="./lk.html", target="_blank") ЛК
