extends pug/base

prepend styles
	link(rel="stylesheet" href=`./lib/swiper/swiper-bundle.css`)
prepend scripts
	script(src=`./lib/swiper/swiper-bundle.min.js`)

block content
	+breadcrumb(["Главная"], "Мифы о донорстве крови")
	.myth-page-box
		// Section Myth
		.section-myth.container
			h1.section-myth__title.h1 Мифы о донорстве крови
			.section-myth__slider-box
				.swiper.section-myth__slider
					.section-myth__grid.swiper-wrapper
						// card
						.section-myth__card.swiper-slide.section-myth__card--wide
							.section-myth__card-visible
								p.section-myth__card-top Миф №
									span.section-myth__card-num 1
								.section-myth__card-text-box
									p «Я готов сдать кровь, но только в экстренной ситуации — если произойдет чрезвычайное происшествие. Это важнее, чем сдавать кровь в обычном режиме. Ведь так будет спасено больше людей!»
							.section-myth__card-hidden
								p.section-myth__card-top Правда
									span.section-myth__card-num 1
								.section-myth__card-text-box
									p Для больных людей каждая потерянная минута — экстремальный случай.
									ul
										li В любую минуту и в любом месте может произойти несчастное происшествие с потерей крови у пострадавших.
										li Сдача крови и ее компонентов занимает не так много время, а компоненты крови могут понадобиться немедленно.
										li Донорство должно было регулярным! Только так можно обеспечить постоянный запас компонентов крови, в т.ч. для пострадавших в чрезвычайных ситуациях.
										li Кровь нужна больным и пострадавшим круглый год. Поэтому очень важно развитие регулярного донорства. Ведь именно это позволяет обеспечить потребности медицинских организаций.
										li Регулярно сдающий донор — это донор, кровь которого наиболее безопасна в силу регулярного обследования и наблюдения за состоянием его здоровья. Из потенциала повторно и неоднократно сдающих доноров формируется система «кадровых доноров», из которых затем может быть сформирована группа «экстренного» резерва.
						// card
						.section-myth__card.swiper-slide
							.section-myth__card-visible
								p.section-myth__card-top Миф №
									span.section-myth__card-num 2
								.section-myth__card-text-box
									p «Во время сдачи крови и ее компонентов можно заразиться неприятной болезнью.»
							.section-myth__card-hidden
								p.section-myth__card-top Правда
									span.section-myth__card-num 2
								.section-myth__card-text-box
									p Для больных людей каждая потерянная минута — экстремальный случай это донор, кровь которого наиболее безопасна в силу регулярного обследования и наблюдения за состоянием его здоровья. Из потенциала повторно и неоднократно сдающих доноров формируется система «кадровых доноров», из которых затем може
						// card
						.section-myth__card.swiper-slide
							.section-myth__card-visible
								p.section-myth__card-top Миф №
									span.section-myth__card-num 3
								.section-myth__card-text-box
									p «Донорство — это больно»
							.section-myth__card-hidden
								p.section-myth__card-top Правда
									span.section-myth__card-num 3
								.section-myth__card-text-box
									p Регулярно сдающий донор — это донор, кровь которого наиболее безопасна в силу регулярного обследования и наблюдения за состоянием его здоровья. Из потенциала повторно и неоднократно сдающих доноров формируется система «кадровых доноров», из которых затем може
						// card
						.section-myth__card.swiper-slide
							.section-myth__card-visible
								p.section-myth__card-top Миф №
									span.section-myth__card-num 4
								.section-myth__card-text-box
									p «У меня распространенная группа крови, моя кровь не нужна»
							.section-myth__card-hidden
								p.section-myth__card-top Правда
									span.section-myth__card-num 4
								.section-myth__card-text-box
									p Для больных людей каждая потерянная минута — экстремальный случай.
									ul
										li В любую минуту и в любом месте может произойти несчастное происшествие с потерей крови у пострадавших.
										li Сдача крови и ее компонентов занимает не так много время, а компоненты крови могут понадобиться немедленно.
										li Донорство должно было регулярным! Только так можно обеспечить постоянный запас компонентов крови, в т.ч. для пострадавших в чрезвычайных ситуациях.
										li Кровь нужна больным и пострадавшим круглый год. Поэтому очень важно развитие регулярного донорства. Ведь именно это позволяет обеспечить потребности медицинских организаций.
										li Регулярно сдающий донор — это донор, кровь которого наиболее безопасна в силу регулярного обследования и наблюдения за состоянием его здоровья. Из потенциала повторно и неоднократно сдающих доноров формируется система «кадровых доноров», из которых затем може
						// card
						.section-myth__card.swiper-slide
							.section-myth__card-visible
								p.section-myth__card-top Миф №
									span.section-myth__card-num 5
								.section-myth__card-text-box
									p «Сдача крови — это долгая процедура. Тем более, что учреждения службы крови работают в неудобное время, когда люди заняты на работе или на учебе.»
							.section-myth__card-hidden
								p.section-myth__card-top Правда
									span.section-myth__card-num 5
								.section-myth__card-text-box
									p Для больных людей каждая потерянная минута — экстремальный случай.
									ul
										li В любую минуту и в любом месте может произойти несчастное происшествие с потерей крови у пострадавших.
										li Сдача крови и ее компонентов занимает не так много время, а компоненты крови могут понадобиться немедленно.
										li Донорство должно было регулярным! Только так можно обеспечить постоянный запас компонентов крови, в т.ч. для пострадавших в чрезвычайных ситуациях.
										li Кровь нужна больным и пострадавшим круглый год. Поэтому очень важно развитие регулярного донорства. Ведь именно это позволяет обеспечить потребности медицинских организаций.
										li Регулярно сдающий донор — это донор, кровь которого наиболее безопасна в силу регулярного обследования и наблюдения за состоянием его здоровья. Из потенциала повторно и неоднократно сдающих доноров формируется система «кадровых доноров», из которых затем може
						// card
						.section-myth__card.swiper-slide
							.section-myth__card-visible
								p.section-myth__card-top Миф №
									span.section-myth__card-num 6
								.section-myth__card-text-box
									p «Кровь можно сдавать только по пятницам, чтобы отдохнуть после донации.»
							.section-myth__card-hidden
								p.section-myth__card-top Правда
									span.section-myth__card-num 6
								.section-myth__card-text-box
									p Кровь нужна больным и пострадавшим круглый год. Поэтому очень важно развитие регулярного донорства. Ведь именно это позволяет обеспечить потребности медицинских организаций.
						// card
						.section-myth__card.swiper-slide
							.section-myth__card-visible
								p.section-myth__card-top Миф №
									span.section-myth__card-num 7
								.section-myth__card-text-box
									p «Регулярные кроводачи заставляют организм вырабатывать кровь в большем объеме, что вредно для здоровья и вызывает зависимость»
							.section-myth__card-hidden
								p.section-myth__card-top Правда
									span.section-myth__card-num 7
								.section-myth__card-text-box
									p Сдача крови и ее компонентов занимает не так много время, а компоненты крови могут понадобиться немедленно.

		+sectionNews(true)