$color-bg: var(--color-bg);
$color-text: var(--color-text);

$color-primary: var(--color-primary);
$color-primary-dark: var(--color-primary-dark);
$color-primary-light: var(--color-primary-light);
$color-secondary: var(--color-secondary);