$color-bg: var(--color-bg);
$color-text: var(--color-text);

$color-primary: var(--color-primary);
$color-primary-dark: var(--color-primary-dark);
$color-primary-light: var(--color-primary-light);
$color-secondary: var(--color-secondary);

$evt-color1: #CD118B;
$evt-color2: #A1CC3B;
$evt-text: #fff;