$color-black: #1E1E1E;
$color-white: #fff;
$color-bg: $color-black;
$color-text: $color-white;
$color-blue: #1F2329;
$color-orange: #1F2329;
$color-red: #FC1A2F;

$gradient-red: linear-gradient(to right, #FC1A2F, #FF1A5F);